---
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import projectItems from "../pages/projects.js";
const pageTitle = "hello world";
---

<BaseLayout pageTitle={pageTitle}>
  <section
    id="welcome"
    class="flex flex-col-reverse md:flex-row items-center md:justify-center mx-4 md:mx-auto"
  >
    <div id="left" class="p-5 my-5 rounded-xl md:mr-16">
      <p class="text-zinc-100 bg-green-600 w-fit px-4 rounded-xl mb-2">
        welcome
      </p>
      <p>
        my name is <span class="text-zinc-400">Vincent Kwaku Kpemlie</span>, an
        aspiring Software Engineer and Cybersecurity Enthusiast. I am currently
        learning:
        <span
          class="text-zinc-300 bg-green-700 hover:text-white px-2 rounded-lg"
        >
          React Native for Mobile App Development.
        </span>
        <br />
        <br />
        I am a self motivated individual who is eager to learn new and interesting
        things.
      </p>
      <div>
        <button
          class="border text-white px-4 text-sm border-dashed rounded-xl hover:bg-zinc-500 hover:border-zinc-200 mt-4"
        >
          <a href={"/vkkpemlie-resume.pdf"}>📄 resume</a>
        </button>
        <button
          class="border text-white px-4 border-solid rounded-xl text-sm hover:bg-zinc-500 border-blue-300 mt-4"
        >
          <a href="/blog">📝 read blog</a>
        </button>
      </div>
    </div>
  </section>

  <section
    id="tools"
    class="p-5 rounded-xl my-2 mx-auto w-[350px] md:w-full md:mx-auto"
  >
    <p class="text-zinc-600 dark:text-zinc-400">Tools & Technologies</p>
    <br />
    <p>
      <div class="my-2">
        <span class="bg-green-400 px-4 rounded-lg">Languages</span>
        HTML, CSS, Javascript, Python, Bash
      </div>
      <div class="my-2">
        <span class="bg-blue-400 px-4 rounded-lg">Frameworks</span>
        ReactJS, Astro, NodeJS, ExpressJS
      </div>
      <div class="my-2">
        <span class="bg-zinc-400 px-4 rounded-lg">Tools</span>
        Git, Github, Photoshop, Figma, VSCode, Linux
      </div>
    </p>
  </section>

  <section id="featured-projects" class="p-5 rounded-xl my-5 mx-auto">
    <p
      class="text-zinc-600 dark:text-zinc-400 flex justify-center md:justify-start"
    >
      featured projects
    </p>
    <div
      class="grid md:grid-cols-3 gap-x-4 items-center justify-center md:flex-row"
    >
      {
        projectItems.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            link={project.link}
            tag={project.tag}
          />
        ))
      }
    </div>

    <p class="my-1 flex text-sm justify-center mt-5">
      🔗 | all projects here<a href="https://github.com/thelocalgodd"
        ><u class="underline-offset-4 hover:text-zinc-600 ml-1">here</u></a
      >
    </p>

    <p
      class="flex justify-center mt-5 text-xs text-gray-400 border-l border-dashed border-red-400 w-fit px-4 mx-auto"
    >
      see you space cowboy...
    </p>
  </section>
</BaseLayout>
