---
import "../styles/style.css";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

const formatDate = (isoString: string): string => {
  const date = new Date(isoString);
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return date.toLocaleDateString(undefined, options);
};
---

<BaseLayout
  pageTitle={`post | ${frontmatter.title}`}
  image="/blog-placeholder.png"
>
  <div class="my-4">
    <li
      class="list-none flex items-center justify-center flex-col md:justify-between rounded-md md:w-[800px] md:mx-auto md:flex-row md:mt-4"
    >
      <p
        class="border text-sm border-solid border-slate-900 px-5 rounded-xl dark:border-zinc-500"
      >
        {frontmatter.title}
      </p>
      <p class="text-zinc-500 text-sm">
        {formatDate(frontmatter.pubDate)}
      </p>
    </li>
  </div>
  <div class="text-sm md:flex gap-2 mb-4 hidden">
    {
      frontmatter.tags.map((tag) => (
        <a href={`/tags/${tag}`}>
          <p class="inline-block text-xs rounded-lg border border-blue-200 bg-blue-100 bg-opacity-50 px-2 dark:border-green-800 dark:bg-green-300 dark:bg-opacity-10 dark:text-green-500">
            {tag}
          </p>
        </a>
      ))
    }
  </div>

  <div class="w-screen mx-auto md:w-auto px-4 md:px-0 text-sm">
    <slot />
  </div>
  <br />
</BaseLayout>
